
body{
    background-image: url(../Fundamentos_Web/assets/foto\ backgroung.png);
    background-repeat: no-repeat;
    background-size: cover;
}


h1{ 
    color:purple;
    font-family: Arial; 
    font-size: 40 px;
    text-align: center;
}

h2{
    color: blueviolet;
    font-family: arial ;
    font-size: 40 px;
    text-align: center;

}

h4{
    color: rgb(255, 255, 255);
    font-style: montserrat;
}

h3{
    color:rgb(255, 255, 255);
    font-family: sans-serif;
}


img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    
    
}

